<h1>Список файлов</h1>

<a href="/upload/">Загрузить файл</a>

<hr>

<form method="get">
    <input type="text" name="search" placeholder="Поиск">

    <button type="submit">
        Найти
    </button>
</form>

<hr>

{% for attachment in page_obj %}

    <h3>{{ attachment.title }}</h3>

    <p>
        <a href="{{ attachment.file.url }}">
            Скачать файл
        </a>
    </p>

    {% if attachment.image %}
        <img src="{{ attachment.image.url }}"
             width="200">
    {% endif %}

    <hr>

{% endfor %}

<div>

    {% if page_obj.has_previous %}
        <a href="?page=1">Первая</a>

        <a href="?page={{ page_obj.previous_page_number }}">
            Назад
        </a>
    {% endif %}

    Страница {{ page_obj.number }}
    из
    {{ page_obj.paginator.num_pages }}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">
            Вперед
        </a>

        <a href="?page={{ page_obj.paginator.num_pages }}">
            Последняя
        </a>
    {% endif %}

</div>